- Manuscript's Author Institutions:  {{manuscriptInfo.authorInstitutionList if manuscriptInfo.authorInstitutionList else "None"}}
- Manuscript Type: {{manuscriptInfo.manuscriptType}}
- Is Manuscript Peer-Reviewed: {{manuscriptInfo.peerReviewed}}
- Is Manuscript Transferred: {{manuscriptInfo.transfer}}